<%= link_to "Add a New Candidate", root_path %>
<h1>Candidates in the System</h1>
<hr>
<!-- <ul> -->
  <% @candidates.each do | candidate | %>
  <div class="candidate-card">
    <!-- <li> -->
      <h1><%= candidate.name  %></h1>
      <hr>
      <div class="candidate-info">
        <% candidate.emails.each do |email| %>
          <p><%= mail_to email.email  %></p>
        <% end %>
      </div>
    <!-- </li> -->
  </div>
  <% end %>
<!-- </ul> -->
