

<div id="form">
  <h1>Add A New Candidate</h1>
  <hr>
  <%= link_to "Added Candidates", candidates_path %>
  <br>
  <form class="form">
    <div>
      <input type="text" name="name" value="" placeholder="name" class="name">
    </div>
    <div id="email">
      <div>
        <input type="email" name="email" value="" placeholder="email" class="email">
        <span class="add">+</span>
      </div>
    </div>
    <div class="button">
      <input type="button" name="some_name" value="submit" class="submit">
    </div>

  </form>
</div>
